# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor files
.vscode/*
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Local dev
*.local
